# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

### Data Science Languages
1. Python
2. R
3. SQL

### Data Science Libraries
1. Pandas
2. NumPy
3. Matplotlib

### Data Science Tools
| Tool              |
|-------------------|
| Jupyter Notebook |
| RStudio           |
| TensorFlow       |

### Arithmetic Expression Examples
Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
hours = 200 / 60
hours

3.3333333333333335

### Objectives:
- List popular languages for Data Science
- Mention commonly used libraries in Data Science
- Provide an overview of Data Science tools

## Author
Lakshmi Holla